<mat-card style="background-color: #fafafa">
  <mat-tab-group>
      <mat-tab label="New Patient">
          <div class="" *ngIf="!showThankYouMsg"  fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card>
              <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmitUser(userForm.value)">
                <mat-form-field class="example-full-width">
                  <input matInput name="userId" [(ngModel)]="user.userId" required placeholder="User Id">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput name="name" [(ngModel)]="user.name" required placeholder="Full Name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput name="phoneNo" type="number" [(ngModel)]="user.phoneNo" required (keyup)="onKey($event)" placeholder="Phone Number">
                </mat-form-field>
                <mat-radio-group [(ngModel)]="user.gender" name="gender" required>
                  <mat-radio-button value="Male" class="gender-options">Male</mat-radio-button>
                  <mat-radio-button value="Female" class="gender-options" >Female</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="example-full-width">
                  <input matInput name="age" type="number" [(ngModel)]="user.age" placeholder="Age">
                </mat-form-field><br>
                <div fxLayout="row" fxLayoutAlign="center center" >
                <mat-form-field class="example-full-width" class="fieldHg">
                  <input matInput name="height" [(ngModel)]="user.height" placeholder="Height (cm)">
                </mat-form-field>
                <mat-form-field class="example-full-width" >
                  <input matInput name="weight" [(ngModel)]="user.weight" placeholder="Weight (kg)">
                </mat-form-field>
                <br/><br/>
              </div>
                <mat-form-field class="example-full-width" >
                  <input matInput name="pulseRate" [(ngModel)]="user.pulseRate" placeholder="Pulse Rate (BPM)">
                </mat-form-field>
                <mat-form-field class="example-full-width" >
                  <input matInput name="temperature" [(ngModel)]="user.temperature" placeholder="Body Temperature">
                </mat-form-field>
                <mat-form-field class="example-full-width" >
                  <input matInput name="bloodPressure" [(ngModel)]="user.bloodPressure" placeholder="Blood Pressure">
                </mat-form-field>                
                <button mat-raised-button color="primary" [disabled]="!userForm.form.valid" type="submit">Submit</button>
              </form>
              </mat-card>
            </div>
            <div>
              <img src="https://4.bp.blogspot.com/-S9LM1M1qUuw/WLyluwJYSoI/AAAAAAAAAQU/w2BNvqtNE_MXmCVOyxBzktWU9_qrB1CjACLcB/s1600/VS5.jpg" width="100%" height="340px">
            </div>
          </div>
              <div *ngIf="showThankYouMsg">
                <h1 style="font-size:16px">Thank You. Data is saved successfully!!</h1>
                <button mat-raised-button color="primary" (click)="goToHome()">Home</button>
              </div>
      </mat-tab>
      <mat-tab label="Existing Patient">
        <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="existing-patient-card">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                <mat-select (selectionChange)="selectedPatient($event)" placeholder="Patients List">
                  <mat-option *ngFor="let user of usersArray" [value]="user._id">
                    {{user.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="selectedId" style="width: 100%" fxLayout="column" fxLayoutAlign="center center">
                <mat-card style="width: 100%" fxLayout="row" fxLayoutAlign="center center">
                  <span class="basic-row">Name - {{userDetails?.name}}</span>
                  <span class="basic-row">Age - {{userDetails?.age}}</span>
                    <span class="basic-row">Gender - {{userDetails?.gender}}</span>
                    <span class="basic-row">Height - {{userDetails?.height}} cm</span>
                      <span class="basic-row">Weight - {{userDetails?.weight}} kg</span>
                      <span class="basic-row">PulseRate - {{userDetails?.pulseRate}}</span>
                      <span class="basic-row">BloodPressure - {{userDetails?.bloodPressure}}</span>
                      <span class="basic-row">Temperature - {{userDetails?.temperature}}</span>
                </mat-card>
                  <mat-card style="width: 100%; margin-top: 1rem" *ngFor="let report of dailyReportsArray; let idx=index" fxLayout="row" fxLayoutAlign="center center">
                    <span class="basic-row">Day - {{idx+1}}</span>
                    <span class="basic-row">PulseRate - {{report.pulseRate}}</span>
                    <span class="basic-row">Temperature - {{report.temperature}}</span>
                      <span class="basic-row">BloodPressure - {{report.bloodPressure}}</span>
                        <span class="basic-row">Medicine1 - {{report.medicine1}}</span>
                        <span class="basic-row">Medicine2 - {{report.medicine2}}</span>
                        <span class="basic-row">Weight - {{report.weight}}</span>
                  </mat-card>
                  <button *ngIf="!showAddReportForm" style="margin: 1rem" mat-raised-button color="primary" 
                  (click)="addDailyReport(userDetails?.userId)">Add Daily Report</button>
            </div>
            <div *ngIf="showAddReportForm" style="margin-top: 2rem" fxLayout="row" fxLayoutAlign="center center">
                <form class="example-form" #dailyReportForm="ngForm" (ngSubmit)="onSubmitDailyReport(dailyReportForm.value)">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="dailyReport.reportDate" name="reportDate" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>  
                  <mat-form-field class="example-full-width">
                      <input matInput name="bloodPressure" [(ngModel)]="dailyReport.bloodPressure" required placeholder="Blood Pressure">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput name="temperature" [(ngModel)]="dailyReport.temperature" required  placeholder="Temperature">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput name="pulseRate" [(ngModel)]="dailyReport.pulseRate" placeholder="Pulse Rate">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="center center" >
                    <mat-form-field class="example-full-width" class="fieldHg">
                      <input matInput name="medicine1" [(ngModel)]="dailyReport.medicine1" placeholder="Medicine1">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                      <input matInput name="medicine2" [(ngModel)]="dailyReport.medicine2" placeholder="Medicine2">
                    </mat-form-field>
                    <br/><br/>
                  </div>
                  <mat-form-field class="example-full-width" >
                    <input matInput name="weight" [(ngModel)]="dailyReport.weight" placeholder="Weight">
                  </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!dailyReportForm.form.valid" type="submit">Submit</button>
                  </form>
            </div>
          </mat-card>
      </div>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-tab>
    </mat-tab-group>
</mat-card>



